*{
    font-family: "Volkhov", serif;
    margin:0px;
}
.header{
   margin-top:10px;
   padding:15px;
}
.right{
    float:right;
}

h1{ 
    text-align: center;
    /* font-family: */
    font-size: 95px;
    margin:0px;
    font-weight:30;

}
.page1button{
    background-color:white;
    border: none;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* width:50px; */
    /* height:50px; */
    font-size: 18px;
    border-radius:3px; ;
    margin-left:5px;
}
.page1button:hover{
    background-color:black;
    color:white;
    border-radius: 8px;
}
.image{
    /* padding-right:50%; */
    text-align: center;
    
}
.text{
    text-align: center;
    margin:120px;
    justify-content: center;
    
    
}
.page2body{
    margin:200px;
}
 .dark{
    /* background-color:white */
    border: none;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: larger;
    margin:20px;
    font-size: 30px;
 }
 .light{
    opacity: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: larger;
    margin:20px;
    font-size: 30px;
    margin-bottom:90px;



    
 }
 h5{
    margin:8px;
    opacity: 60%;
    /* display:inline; */
    float:left;
    display: block;
 }
 .left{
  float: right;
}
.Footer{
    background-color: black;
    color:white;
    height:200px;
    display: flex;
    flex-direction: column;

}
.leftf1{
    float:left;
    /* margin:20px; */
    display: inline-block;
    
    
}
.leftf2{
    float:left;
    /* margin:20px; */
    display: inline;


}
.rightf3{
    float:right;
    /* margin:20px; */
    display: inli
}

.years{
    font-weight: bold;
}
.crosby{
    font-size: 2.2rem;
    font-weight: bold;
}
.senior{
    font-weight: bold;
}
.lorem{
    color: gray;
    opacity: 0.9;
}
.cross{
    margin-bottom: 20px;
}
.line-section{
    height: 1.5px;
    width: 900px;
    background-color: gray;
    opacity: 0.5;
    margin-bottom: 20px;
}
.experience{
    width: 500px;
    margin-left: 200px;
}
.text-experience{
    font-weight: bold;
    width: 100px;
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}
.cross-section{
    margin-left: 500px;
}
.year{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 200px;
}
.img{
     size:10px;
     border-radius:30px;
}
.image{
    /* border: 2px solid; */
    border-radius:10px;
}
.footer{
    height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
 }

 .leftFooter{
    width: 80vw;
    margin: 10px;
    padding: 12px;
 }

 .text2gray{
    font-size: 10px;
    font-weight: 200;
    color: rgb(128, 128, 128);
 }

 .text1white{
    padding-bottom: 15px;
 }
 
 .imageFooter{
    margin-top: 24px;
    width:10px;
    height:10px;
 }

 .rightFooter{
    width: 60vw;
    margin: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
 }

 .rightFooter .largeTextWhite{
    font-size: 40px;
    font-weight: 700;
 }

 .mailbox{
    width: 208px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.914);
    color: rgba(0, 0, 0, 0.868);
    border-radius: 11px;
 }

 .containermail{
    padding: 12px;
 }

 .lowerBox{
    display: flex;
    flex-direction: row;

 }
 
 .left11{
    padding: 5px 0px;
    width: 400px;
 }

 .headingleft{
    margin-bottom: 12px;
    font-weight: 800;
    color: rgb(100, 100, 100);
 }

 .right11{
    padding: 5px 0px;
    width: 400px;
    
 }

 .socialsxx{
    display: flex;
    list-style: none;
 }

 .leftsoc{
    width: 140px;
 }

 .rightsoc{
    width: 140px;
 }

 .headingright11{
    margin-bottom: 12px;
    font-weight: 800;
    color: rgb(100, 100, 100);
 }
